@import url('https://fonts.googleapis.com/css?family=Bungee+Shade|Shojumaru');
.body{
	background-color: #491902;
	text-align: center;
}
#footer{
	font-weight: bold;
	text-align: center;
	margin-top: 10px;
	margin-right:0px;
	font-family: monospace;
	width: 300px;
	background-color: grey;
}
.header{
	text-align: center;
	background-color: grey;
	font-family: 'Bungee Shade';
	width: 300px;
	margin-left: 40%;
}
.links{
	text-align: center;
	font-size: 15pt;
	font-family: normmal;
}
a{
	font-family: normal;
	text-decoration: underline;
	font-weight: none;
}

a:link {
	color: purple;
}
a:visited {
	text-decoration: none;
}
a:hover {
	color: green;
	background-color: blue;
	text-decoration: none;
	font-size: 15pt;
}
a:active {
	font-family: 'Shojumaru', cursive;
	text-decoration: none;
	font-weight: none;
}
.nav-pills{
	margin-left: 40%;
}
.jumbotron{
	margin-top: 10px;
}