body{
	background-position: center top;
	background-repeat: no-repeat;
	background-attachment: fix;
	background-color: black;
	color: white;
	margin-left: 10px;
	margin-bottom: 10px;
	margin-top: px;
}

tr {
	color: maroon;
	text-align: center;
	font-weight: bold;
}
th {
	text-align: center;
}